#about_me {
    user-select: none;
}

#about_me .container {
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#about_me .container article p {
    margin-block: 1rem;

}


#about_me .container img {
    width: 150px;
    transition: opacity 1s ease-out, transform 1s ease-out, filter .5s;
    filter: drop-shadow(3px 3px 300px black) grayscale(90%);
    position: static;
    margin-top: 2rem;
    bottom: 0;
}

#about_me .container img:hover {
    filter: drop-shadow(5px 5px 5px rgb(122, 122, 122)) grayscale(0%);
}


@media screen and (min-width: 500px) {
    #about_me .container img {
        position: sticky;
    }

    #about_me .container {
        flex-direction: row;
        align-items: flex-end;

    }

}