@keyframes slide-in {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animated-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes font-color-white {
    50% {
        color: #FFF;
    }

    100% {
        color: currentColor;
    }
}

@keyframes font-white-to-red {
    50% {
        color: #FFF;
    }

    100% {
        color: var(--color-red);
    }
}

@keyframes font-white-to-blue {
    50% {
        color: #FFF;
    }

    100% {
        color: var(--color-primary);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Classes para animações com Javascript */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}