:root {
    --default-max-width: 1200px;
    --container-max-width: 864px;
    --default-font-color: #2B2B2B;

    --color-primary: #2F6193;
    --color-blue: #0A66C2;
    --color-red: #e63946;
    --color-black: #252525;
    --color-black-transparent: #25252590;
    --background: #f9f9f9;
    --breakpoint-mobile: 600px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--default-font-color);
}

h1.section-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid;
}

body>section {
    padding-inline: clamp(20px, 5vw, 80px);
}

button {
    cursor: pointer;
}

.container {
    max-width: var(--container-max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.scroll-thin {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.scroll-thin::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scroll-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: none;
}

@media screen and (min-width: 328px) {
    h1.section-title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 400px) {
    .container {
        padding: 5rem 2rem;
    }
}