:root {
    --default-max-width: 1200px;
    --container-max-width: 800px;
    --default-font-color: #2B2B2B;

    --color-primary: #2F6193;
    --color-red: #B22222;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--default-font-color);
}

h1 {
    font-size: 2rem;
}

body>section {
    padding-inline: clamp(20px, 5vw, 80px);
}

button {
    cursor: pointer;
}

.container {
    max-width: var(--container-max-width);
    margin: auto;
    padding-block: 5rem;
}
